@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../assets/styles/style.scss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #f1f3f4;
}

.ant-btn-primary:not([disabled]) {
  background:#1677ff !important;
}

.ant-btn-primary:not([disabled]):hover {
  background:#1f4ce0 !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
